

body{
	width: 1280px;
   margin: auto;
	font-size:62.5%;
	font-family: 'Open Sans', sans-serif;
	background-color:#fff;
}
a{
	color:#222;
	text-decoration:none;
}
a:hover{
	color:#1ABC9C;
}

/* Home Banner */
.banner{
	background:url(../img/bg-header.jpg) no-repeat 0px 0px;
	background-size:cover;
	width:100%;
	height: 745px;
	}

/*-- //menu --*/
.banner-nav {
	padding: 13em 0 0;
	position:relative;
	}
.logo{
	position: absolute;
    top: 22px;
    left: 605px;

	}
.navbar-toggle .icon-bar {
  background-color: #fff;
}

.nav1 li:nth-child(2) {
	margin-right: 10em;
	}
.nav1{
	padding:0;
	margin-top:25px;
	    margin-left: 82px;

	text-align:left;
	}
.nav1 li{
	display:inline-block;
	margin: 40px 0;
	padding-left: 110px;
	}
.nav1 li a{
	position: relative;
	text-transform: uppercase;
	color:#fff;
	font-size:2em;
	text-decoration:none;
	font-weight: 600;
	letter-spacing: 3px;
	padding:0.5em;
	border:none;
	
	}
.nav > li > a:hover,
.nav > li > a:focus {
background:transparent;

}
.nav1 li a:hover{
	

	background:transparent;
  	}
.banner-info{
	margin-top:15%;
	text-align:center;
	}
.banner-info h3{
	color:#fff;
	font-weight: 600;
	font-size: 5em;
	margin: 0;
	letter-spacing: 1em;
	text-transform:uppercase;
	}
.banner-info p{
	color:#fff;
	font-size:2.5em;
	margin:1.5em 0 5em;
	letter-spacing:0.5em;
	}
 .green-btn{
	background:#1ABC9C;
	border:none;
	padding:1.5em 4em;
	letter-spacing:2px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	-msborder-radius:5px;

}
 .green-btn:hover{
	background:#16A085;
	color:#222;
	
}
.banner-icons{
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	font-size:4em;
	text-align:center;
	color:#fff;
	}
.banner-icons ul{
	padding:0;
	margin:0;
	}
.banner-icons ul li{

	
    width: 50px;
	display:inline-block;
}
.banner-icons ul li a{

color:#fff;
text-decoration:none;
-webkit-transition: all 0.3s ease;
	 -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}	
.banner-icons ul li a:hover{

color:#1ABC9C;
}	

.twitter {
	
	background:url(../img/fa-twitter.png) no-repeat 0px 0px;
	}
.flickr {
	
	background:url(../img/fa-flickr.png) no-repeat 0px 0px;
	}
.dribbble {
	
	background:url(../img/fa-dribbble.png) no-repeat 0px 0px;
	}
.second-banner{
	 

	padding-top: 10em;
	background:#F5F6F7;
	position:relative;

}
.second-banner img{
	padding-top:20em;
}

 h4{
	text-transform:uppercase;
	color:#16A085;
	font-size: 2.6em;
	letter-spacing: 0.3em;
	margin-top: 5em;
	line-height:2em;
	font-weight: 700;
}
 p{
	color: #9C9D9D;
	font-size:2em;
	line-height: 3em;
	margin: 2em 0;
	letter-spacing: 0.15em;
}
.second-banner span{
	color:#373737;
}
.third-banner{
	padding-top:10em;
	background:#FFF;
}
.third-banner img{
	padding-left:2em;
	padding-top:15em;
}
.indicator{
	margin-top:3em;
	font-size:2em;
	font-weight:700;
}

.fourth-banner {
	padding-top:20em;
	background:#F5F6F7;
	padding-bottom:20em;

}
.com-text{
	text-align: center;
	padding-top:6em;
}
.com-text img{
	margin:0 auto;
	margin-bottom:-5em;
}
.commindicator{
	font-size:1.5em;
	float:right;
	margin-bottom:0.5em;
	margin-right:6em;
}
.community-images{
	position:realtive;

	clear:both;
	list-style: none;
	margin:0;padding:0;
	margin-left:10em;

}
.community-images li{
	display:inline-block;
}
.community-images img{
	width:98%;
}
.community-images img:hover{
	background-color:#1ABC9C;
	opacity:0.5;
}
.fifth-banner{
	background:url(../img/section-bg.jpg) no-repeat 0px 0px;
	background-size:cover;
	width:100%;
	min-height:800px;
}
.sub-text{
	margin-top:30%;
}
.fifth-banner h3{
	color:#fff;
	font-size: 2.5em;
	text-align: center;
	margin: 0 0 2em;
	font-weight: 600;
	letter-spacing: 0.3em;
	}
	
.fifth-banner input[type="email"]{
	display:inline-block;
	outline:none;
	border:none;
	background:#fff;
	height: 60.4px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	color:#000;
	padding:20px 68px 20px 10px;
	width:30%;
	margin-left: 30%;
	font-size: 16px;
	letter-spacing: 3px;
	font-weight: 600;
	
	}	

.fifth-banner input[type="submit"]{
	outline: none;
	border: none;
	width: 10%;
	height: 61px;
	margin-left: -10px;
	position:absolute;
	
	background: url(../img/check.png) no-repeat center center;
	background-color:#16A085;
		-webkit-transition: all 0.5s ease;
	 -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
	}	
.fifth-banner input[type="submit"]:hover{
background-color:#222;
}	
.sixth-banner{
	background:#F5F6F7;
	padding:20em 0;
	text-align:center;
}
.apple{
	float:right;
}
.apple a{
	background: #1ABC9C;
	display: block;
	  
  font-size: 2em;
	border-radius: 5px;
	color: #fff;
	padding: 16px 0px 13px 45px;
	letter-spacing: 3px;
	font-weight: 600;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-ms-transition:.5s all;
	-o-transition:.5s all;
	}
.apple a:hover{
	text-decoration:none;
	color:#000;
	}
.apple a span{
	padding: 17px 15px 17px;
	background: #16A085;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-left: 75px;
	}
	.play{
	float:left;
}
.play a{
	background: #1ABC9C;
	display: block;

  font-size: 2em;
	border-radius: 5px;
	color: #fff;
	padding: 16px 0px 10px 45px;
	letter-spacing: 3px;
	font-weight: 600;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-ms-transition:.5s all;
	-o-transition:.5s all;
	}
.play a:hover{
	text-decoration:none;
	color:#000;
	}
.play a span{
	padding: 20px 15px 16px;
	background: #16A085;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-left: 80px;
	}
	

.footer{
	padding-top:5em;
	background-color:#fff;
}
.footer ul{
	font-size:2em;
	text-transform:uppercase;
	font-weight:700;
	margin:0;
	padding:0;
}
.footer ul li{
	display:inline-block;
}
.footer ul li a{
	color:#222;
	text-decoration: none;
}
.footer ul li a:hover{
	color:#16A085;
}
.footer span{
	color:#16A085;
}
#scrollToTop{
	float:right;
}

